{% extends "layout/base.njk" %}
{% set app_title = 'Home' %}
{% block body %}
  <div id="content">
    <div class="container">
      <h1>Index1</h1>
      <img width="63" height="63" src="img/sprite.svg#car_engine_24x">
    </div>
  </div>
{% endblock %}
