{% extends "njk/base.njk" %}
{% set app_title = "About" %}
{% block body %}
  {% include "blocks/header/header.njk" %}
  <h1>{{ app_title }}</h1>
  <h2><code>about.njk</code></h2>
  <img width="63" height="63" src="img/sprite.svg#car_engine_24x">
  {% include "blocks/social/social.njk" %}
{% endblock %}
